<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snapbizz.snaptoolkit"
    android:sharedUserId="@string/shared_user_id"
    android:versionCode="6"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.snapbizz.snaptoolkit.services.SnapbizzDbService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.snapbizz.snaptoolkit.services.SnapbizzService" />
            </intent-filter>
        </service>
        <service
            android:name="com.snapbizz.snaptoolkit.services.SnapSyncService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.snapbizz.snaptoolkit.services.SnapSyncService" />
            </intent-filter>
        </service>
        <service
            android:name="com.snapbizz.snaptoolkit.services.SnapImageDownloadService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.snapbizz.snaptoolkit.services.SnapImageDownloadService" />
            </intent-filter>
        </service>
        <service
            android:name="com.snapbizz.snaptoolkit.services.SnapVideoDownloadService"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.snapbizz.snaptoolkit.services.SnapVideoDownloadService" />
            </intent-filter>
        </service>

        <receiver android:name="com.snapbizz.snaptoolkit.receivers.NetworkConnectivityChangeReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.snapbizz.snaptoolkit.receivers.DownloadCompleateReceiver">
  			<intent-filter>
     			<action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
  			</intent-filter>
		</receiver>

        <service
            android:name="com.snapbizz.snaptoolkit.services.DeleteUnSoldProdSrvice"
            android:exported="false"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.snapbizz.snaptoolkit.services.DeleteUnSoldProdSrvice" />
            </intent-filter>
        </service>
    </application>

</manifest>